<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div ng-repeat="team in vm.teams" ng-hide="vm.isJoined">
                <div ng-repeat="user in team.users">
                    <span ng-if="user._id == vm.currentUser._id">
                        Hey {{user.firstName | uppercase}}, you ate invited to join team '{{team.teamName}}' for Topic: {{team.topic}}
                        <button type="button" class="btn btn-md btn-primary" ng-click="vm.joinTeam(team)">Join Team</button>
                    </span>
                </div>
            </div>

            <div ng-show="vm.isJoined" class="chatRoom">
                     <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-comment"></span> {{vm.currentTeam.teamName}}
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-xs btn-danger" ng-click="vm.leaveTeam()">Leave Team</button>
                                    <!--<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                    <ul class="dropdown-menu slidedown">
                                        <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                                        <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                                        <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                                        <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                            Away</a></li>
                                        <li class="divider"></li>
                                        <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                            Sign Out</a></li>
                                    </ul>-->
                                </div>
                            </div>
                            <div class="panel-body" id="chatBox">
                                <ul class="chat" id="chatRoom">
                                    <!--<li class="hide left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>-->


                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" type="text" ng-model="vm.teamMessage" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="vm.sendTeamMessage()">
                                Send</button>
                        </span>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary" ng-show="vm.isJoined">
                <div class="panel-heading">Participants</div>
                <div class="panel-body">
                    <div ng-repeat="team in vm.teams" >
                        <div ng-repeat="user in team.users">
                    <ul ng-if="user._id != vm.currentUser._id">
                        <li>{{user.firstName}} {{user.lastName}}</li>
                    </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel hide panel-primary">
                <div class="panel-heading">
                    Online Users
                </div>
                <div class="panel-body">
                    <ul class="media-list">

                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;"
                                             src="assets/img/user.png"/>
                                    </a>

                                    <div class="media-body">
                                        <h5>Alex Deo | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;"
                                             src="assets/img/user.gif"/>
                                    </a>

                                    <div class="media-body">
                                        <h5>Jhon Rexa | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;"
                                             src="assets/img/user.png"/>
                                    </a>

                                    <div class="media-body">
                                        <h5>Alex Deo | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;"
                                             src="assets/img/user.gif"/>
                                    </a>

                                    <div class="media-body">
                                        <h5>Jhon Rexa | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;"
                                             src="assets/img/user.png"/>
                                    </a>

                                    <div class="media-body">
                                        <h5>Alex Deo | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;"
                                             src="assets/img/user.gif"/>
                                    </a>

                                    <div class="media-body">
                                        <h5>Jhon Rexa | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;"
                                             src="assets/img/user.png"/>
                                    </a>

                                    <div class="media-body">
                                        <h5>Alex Deo | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">

                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle" style="max-height:40px;"
                                             src="assets/img/user.gif"/>
                                    </a>

                                    <div class="media-body">
                                        <h5>Jhon Rexa | User </h5>

                                        <small class="text-muted">Active From 3 hours</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="chat-sidebar">
    <div class="sidebar-name" ng-repeat="user in vm.users | filter:{email:'!'+vm.currentUser.email}">
        <!-- Pass username and display name to register popup -->
        <a href="javascript:void(0);" ng-click="vm.register_popup(user.email, user.firstName+' '+user.lastName);">
            <img width="30" height="30" src="assets/img/user.gif" />
            <span>{{user.firstName+' '+user.lastName}}</span><span ng-show="user.online" class="user-online">online</span>
            <span ng-show="!user.online" class="user-offline">offline</span>
        </a>
    </div>
</div>

<div id="chatElement"></div>
