<div class="login" >
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Team</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" ng-submit="vm.saveTeam(team)">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" placeholder="Team Name" class="form-control" ng-model="team.teamName">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Topic" class="form-control" ng-model="team.topic">
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th><input type="checkbox" ng-change="vm.checkAll()" ng-model="vm.selectAll"></th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email-ID</th>
                                            <th>Account</th>
                                        </tr>
                                        <tr ng-repeat="user in vm.users">
                                            <td>
                                                <input type="checkbox" data-checklist-model="vm.selectedUsers" data-checklist-value="user">
                                            </td>
                                            <td>{{user.firstName}}</td>
                                            <td>{{user.lastName}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.account.accountName}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="alert alert-danger" ng-show="vm.message">
                                    {{vm.message}}
                                </div>
                                <input class="btn btn-md btn-success" type="submit" value="Save Team">
                            </fieldset>
                        </form>


                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>